.button {
  border: transparent;
  cursor: pointer;
  background-color: #fff;
  border-radius: 22px;
  padding: 11px 37px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: #d41443;
}
.button-contacts {
  text-align: center;
  margin-top: 54px;
}
@media screen and (max-width: 767.9px) {
  .button-contacts {
    width: 250px;
  }
}
@media screen and (min-width: 768px) {
  .button-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 81px;
  }
}
.button-contacts__locations {
  color: #ffffff;
  background-color: #d41443;
}
@media screen and (max-width: 767.9px) {
  .button-contacts__locations {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .button-contacts__locations {
    margin-right: 15px;
  }
}
.button-contacts__locations:hover, .button-contacts__locations:focus {
  background-color: #c7133e;
}
.button-contacts__franchise:hover, .button-contacts__franchise:focus {
  background-color: #ecebeb;
}
.button-contacts--modification {
  font-weight: 700;
  min-width: 162px;
  padding: 11px 0px;
}
@media screen and (min-width: 768px) {
  .button-contacts--modification {
    min-width: 190px;
  }
}
@media screen and (min-width: 1280px) {
  .button-contacts--modification {
    min-width: 195px;
    margin-top: 86px;
  }
}
.button-contacts .button-contacts__svg {
  margin-left: 13px;
  height: 9px;
  width: 6px;
}
.button-contacts .button-contacts__svg--color-white {
  fill: #ffffff;
}
.button-contacts .button-contacts__svg--color-red {
  fill: #d41443;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans";
  font-size: 12px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 115px;
    padding-right: 115px;
  }
}
.contacts-section {
  padding-top: 40px;
}
@media screen and (max-width: 1279.9px) {
  .contacts-section {
    background: linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
  }
}
@media screen and (min-width: 1280px) {
  .contacts-section {
    background-image: url(../images/background-contacts.png), linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1280px;
  }
}
@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts-section {
    background-image: url(../images/background-contacts-2x.png), linear-gradient(180deg, rgb(255, 255, 255) 80px, rgb(255, 245, 246) 2%);
  }
}

.contacts {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 54px;
}
@media screen and (min-width: 768px) {
  .contacts {
    font-size: 14px;
    gap: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 81px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts {
    font-size: 16px;
    margin-top: 86px;
    position: relative;
  }
}
.contacts__img {
  position: absolute;
  width: 1280px;
  top: 20%;
}
@media screen and (max-width: 767.8px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.contacts__item {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    padding: 50px 31px;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
    -webkit-transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
  }
  .contacts__item:hover, .contacts__item:focus {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: 2;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__item .contacts__item {
    padding: 55px 43px;
    max-width: 330px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.contacts__title {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: inline-block;
  padding: 0px 25px;
  border-radius: 4px;
  background-color: #f0d1a5;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    font-size: 16px;
    line-height: 28px;
    padding: 0px 16px;
    border-radius: 6px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__title {
    margin-bottom: 32px;
  }
}
.contacts .contacts__title--bgcolor-gren {
  background-color: #c2e297;
}
.contacts .contacts__primary-text {
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__primary-text {
    line-height: 24px;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .contacts__primary-text {
    line-height: 28px;
  }
}
.contacts .contacts__secondary-text {
  font-weight: 500;
  line-height: 16px;
  color: #907e82;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__secondary-text {
    line-height: 24px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .contacts__secondary-text {
    line-height: 28px;
    margin-bottom: 32px;
  }
}
.contacts .contacts__work-time {
  padding: 25px 0px;
  position: relative;
  margin-bottom: 25px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .contacts .contacts__work-time {
    line-height: 24px;
    padding: 30px 0px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts .contacts__work-time {
    line-height: 28px;
    padding: 32px 0px;
  }
}
.contacts__work-time__primary-text {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #000000;
}
.contacts__work-time__primary-text--before::before {
  content: "";
  position: absolute;
  top: 0%;
  width: 100%;
  height: 1px;
  background-color: #907e82;
}
.contacts__work-time__time--margin {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .contacts__work-time__time--margin {
    margin-bottom: 15px;
  }
}
.contacts__work-time__time--after::after {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #907e82;
}
.contacts__work-time__time {
  font-weight: 500;
  color: #ffa5ba;
}
.contacts__link {
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
  color: #907e82;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    line-height: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__link {
    line-height: 28px;
  }
}/*# sourceMappingURL=main.css.map */